<mat-toolbar>
  <span>{{service.form.controls['$key'].value?"Modify Clinics":"New Clinic"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon >clear</mat-icon></button>
</mat-toolbar>
                
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
                    
    <div class="controls-container">
                          <input type="hidden" formControlName="$key">
                          
                          <mat-form-field>
                            <input type="date" formControlName="date" matInput placeholder="Date*">
                            <mat-error *ngIf="service.form.controls['date'].errors?.required"> This is field is mandatory.</mat-error>

                          </mat-form-field>
                          <mat-form-field>
                            <input type="time"  formControlName="stime" matInput placeholder="Start Time*">
                            <mat-error *ngIf="service.form.controls['stime'].errors?.required"> This is field is mandatory.</mat-error>
                          </mat-form-field>
                          <mat-form-field>
                            <input  type="time" formControlName="etime" matInput placeholder="End Time*">
                            <mat-error *ngIf="service.form.controls['etime'].errors?.required"> This is field is mandatory.</mat-error>
                          </mat-form-field>
                          <mat-form-field>
                            <input type="number" formControlName="nod" matInput placeholder="Number of Doctors Available*">
                            <mat-error *ngIf="service.form.controls['etime'].errors?.required"> This is field is mandatory.</mat-error>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Clinic Type</mat-label>
                            <mat-select formControlName="type">
                              <mat-option *ngFor="let type of types" [value] ="type.value">
                                {{type.viewValue}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="service.form.controls['type'].errors?.required"> This is field is mandatory.</mat-error>
                          </mat-form-field>
                          <mat-form-field>
                            <input  type="number" formControlName="nos" matInput placeholder="Number of Seats Available*">
                            <mat-error *ngIf="service.form.controls['nos'].errors?.required"> This is field is mandatory.</mat-error>
                          </mat-form-field>

                  
                          <div class="button-row">
                            <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                          </div>
    </div>
                   
</form>
  
